.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: rgba(white, 0.3);
  backdrop-filter: blur(3px);
  z-index: 1000;

  .brand {
    a {
      @extend .stroke-white;
      text-decoration: none;
      color: black;
    }

    object {
      width: 35px;
      height: 35px;
      vertical-align: top;
      margin-right: 10px;
    }
  }

  .navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .list-item {
    @extend .stroke-white;
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    &:hover,
    &:active {
      color: $secondary-color;
    }
  }

  .list-item.active {
    color: white;
    background-color: rgba($secondary-color, 0.7);
  }
}
